@font-face {
  font-family: "iconfont"; /* Project id 4647605 */
  src: url('iconfont.woff2?t=1735973447914') format('woff2'),
       url('iconfont.woff?t=1735973447914') format('woff'),
       url('iconfont.ttf?t=1735973447914') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .9rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuan:before {
  content: "\e672";
}

.icon-bianji:before {
  content: "\e610";
}

.icon-shanchu:before {
  content: "\e600";
}

